.blog {
	.site-main.row{
		padding: 0 1rem;
		margin-top: 3rem;
		background-color: #fff;
	}
	.active-sidebar.container{
		background-color: #fff;
	}
}
article.hentry {
	text-align: left;
	padding: 0 26px;
	margin-bottom: 3rem;
	a{
		text-decoration: none;
	}
	.cat-link{
		padding-left: 24px;
		margin-top: 1rem;
		position: relative;
		font-size: 0.85rem;
		font-weight: 500;
		a{
			color: $black;
			&:hover{
				text-decoration: underline;
			}
		}
		&:after{
			content: "";
			position: absolute;
			bottom: -14px;
			left: 0;
			width: 90px;
			height: 2.5px;
			background-color: $black;
		}
	}
	.post-title, .entry-content{
		overflow: hidden;
		-webkit-line-clamp: 2;
		position: relative;
		text-overflow: ellipsis;
		white-space: normal;
		word-wrap: break-word;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
	.post-title{
		font-size: 1.25rem;
		padding-left: 24px;
		margin: 1.6rem 0 0.4rem;
		line-height: 1.35;
		height: 3.4rem;
		a{
			color: $primary;
		}
	}
	.entry-content{
		height: 2.75rem;
		p{
			margin: 0;
			font-size: 0.85rem;
			line-height: 1.5;
			padding-left: 24px;
		}
	}
	.progressiveMedia .progressiveMedia-image,.progressiveMedia canvas{
		border-radius: 4px;
	}
	.post-link{
		display: inline-block;
		font-weight: 500;
		margin-top: 0.8rem;
		overflow: hidden;
		padding: 10px 20px;
		span{
			vertical-align: -3px;
			margin-left: 5px;
			font-size: 0.8rem;
			font-weight: 800;
			display: inline-block;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			transform: translateX(0px);
		}
		&:hover{
			span{
				transform: translateX(42px);
			}
		}
	}
}

#post-navigation{
	width: 100%;
}
