body{
	&.single-post, &.page{
		.site-content {
			position: relative;
		}
		.site-main {
			max-width: 100%;
		}
		article.from-single.post{
			padding: 520px 0 0;
			max-width: 1480px;
		}
		.post_image{
			background-color: #000;
			position: absolute;
			top: 0;
			width: 100%;
			height: 510px;
			left: 0;
			overflow: hidden;
			*{
				opacity: .60;
			}
		}
	}
	&.page{
		article.from-page.page{
			padding: 400px 0 0;

		}
		.post_image{
			height: 440px;
		}
	}
}

.single-article-wrapper{
	box-shadow: 1px 2px 8px 0px rgba(34, 35, 36, 0.06);
	background-color: #fff;
}

body.page{
	.single-article-wrapper{
		padding: 1rem 0;
	}
}

article.from-single.post, article.from-page.page{

	.header-wrapper{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
	.entry-header {
		*, a{
			text-decoration: none;
			color: #fff
		}
		position: absolute;
		top: 0;
		overflow: hidden;
		height: 510px;
		display: table;
		width: 780px;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);

	}
	.entry-title{
		margin: 0;
	}
	.author .url{
		text-decoration: underline;
	}
	.header-content {
		font-size: 14px;
		color: #c0c0c0;
		max-width: 550px;
		margin: 2rem 0;
	}
}
article.from-page.page{
	.entry-header {
		height: 440px;
	}
	.entry-title{
		margin: 0 0 5rem;
		font-size: 4rem;
	}

	.header-content p {
		font-size: 1.1rem;
		color: #c0c0c0;
		max-width: 550px;
		margin: -3.5rem 0 2rem;
		line-height: 1.5;
	}
}


//pagination.
.pagination-wrapper{
	max-width: 1480px;
	background-color: #fafafa;
	margin: 0.5rem auto 0;
	.pagination {
		margin: 0 auto;
		padding: 24px 0;
	}
}

.post-entry-footer{
	padding: 1rem 2rem;
	border-top: 1px solid #ededed;


	.post-cat-tag,
	.devices-social {
		display:  inline-block;
		width:  50%;
		vertical-align:  middle;
	}

	.cat-links a {
		background-color: $primary;
		color: #fff;
		color: #fff;
		padding: 5px 8px 4px;
		border-radius: 4px;
		font-size: 12px;
		text-decoration:  none;
		display:  inline-block;
		text-transform:  uppercase;
		&:hover{
			background-color: $primary-dark;
		}
	}

	.tags-links a {
		text-decoration:  none;
		padding: 2px 8px;
		border-radius:  20px;
		color: #9f9f9f;
		border: 1px solid #9f9f9f;
		display:  inline-block;
		margin-right:  8px;
		font-size: 12px;
		&:before {
			position:  relative;
			content: "#";
			color: #9f9f9f;
		}
		&:hover{
			background-color: #9f9f9f;
			border-color: #9f9f9f;
			color: #fff;
			&:before {
				color: #fff;
			}
		}
	}

	.post-tags {
		margin-top:  14px;
	}


	//social buttons
	.devices-social{
		text-align: right;
		.share-text {
			font-size: 14px;
		}

		a.devices-link{
			text-decoration: none;
			padding: 8px 9px;
			display: inline-block;
			line-height: 1;
			color: #9f9f9f;
			font-size: 14px;
			border-radius: 50%;
			margin-left: 6px;

			&.devices-twitter{
				&:hover{
					color: #fff;
					background-color: $twitter_color;
				}
			}
			&.devices-facebook{
				&:hover{
					color: #fff;
					background-color: $facebook_color;
				}
			}
			&.devices-googleplus{
				&:hover{
					color: #fff;
					background-color: $google_color;
				}
			}
			&.devices-pinterest{
				&:hover{
					color: #fff;
					background-color: $pinterest_color;
				}
			}
		}
	}



}
