

.site-footer {
	background-color: #262626;
	color: #828282;
	font-weight: 400;
	margin-top: 2rem;
	padding: 2.018em 0;
	*{
		font-size: 0.86rem;
		@media screen and (max-width: 650px) {
			font-size: 0.75rem;
		}
	}
	a{
		color: #828282;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

.site-footer h1,.site-footer h2,.site-footer h3,.site-footer h4,.site-footer h5,.site-footer h6 {
	color: #fff
}
