header.site-header {

    //sticky header
    padding: 45px;
    .header-wrapper{
        box-shadow: 0 -3px 12px -6px #333;
        background-color: #fff;
        position: relative; 
        width: 100%;
        top: 0;
        left: 0;
        z-index: 200;
        position: fixed;
        &.sticky-header {
            ul.menu li {
                padding: 1.2rem 0.2rem;
            }
        }
    }
    
    
    //site brand
    .site-branding {
        display: table;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 25px;
        a {
            text-decoration: none
        }
    }
    .site-title {
        display: table-cell;
        font-size: 1.6rem;
        font-weight: 800;
        margin: 0;
        text-transform: uppercase;
        vertical-align: middle;
        letter-spacing: -1px;
    }
    .site-description {
        display: none;
    } 
    
    
    
    //header menu
    .main-navigation {
        display: block;
        text-align: center;
        .menu-toggle {
            display: none;
        }
    }
    ul.menu {
        display: block;
        padding: 0;
        li {
            transition: all .25s ease-in-out;
            display: inline-block;
            padding: 2rem 0.2rem;
            margin: 0;
            a {
                display: inline;
                padding: 2rem 0.8rem;
                font-weight: 500;
                text-decoration: none;
                margin: 0;
                span {
                    margin-left: 6px;
                    vertical-align: -1px;
                    font-size: 0.8rem;
                    opacity: 0.7;
                }
                &:hover {
                    span {
                        opacity: 1;
                    }
                    color: $primary;
                }
            }
            .sub-menu {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: auto;
                margin: 0;
                width: 310px;
            }
            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    } 
    
    
    
    
    //header search 
    .search-bar {
        display: table;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 25px;
        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
    
}