.top-bar{
	background-color: #232e3c;
	*{color: #fff;font-size:0.7rem; font-weight: 500;}
	p{margin:0;display: inline-block;max-width:100%}
	a{
		text-decoration: underline;
		a:focus, a:active, a:visited, a:visited:hover{color: #fff}
	}
	padding: 0.4rem 2em;
	@media screen and (max-width: 1040px) {padding: 0.4rem 1em;}
	@media screen and (max-width: 768px) {padding: 0.4rem 0.5em;}
}
.site-header{
	position: relative;
	z-index: 900;
	>.container{
		background-color: #fff;
		padding: 1em 2em;
		box-shadow: 0px 2px 10px 0px rgba(51, 51, 51, 0.12);
		@media screen and (max-width: 1040px) {padding: 1em 1em;}
		@media screen and (max-width: 768px) {padding: 1em 0.5em;}
	}
	&.menu-opened{
		&:after{
			content: "";
			background-color: #333;
			opacity: 0.6;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
	.header-wrapper{
		-js-display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.header-side_left, .header-side_right{
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		height: 100%;
	}
	.site-branding{
		.logo{margin: 0;}
		text-align: left;
		width: 163px;
		@media screen and (max-width: 992px) {width: 115px;}
	}
	.storefront-primary-navigation{
		display: inline-block;
		margin: 0 0.9rem;
		.menu-toggle{
			display: none;
			cursor: pointer;
			user-select: none;
			@media screen and (max-width: 992px) {
				display: block;
				position: relative;
				top: 0px;
				&:after{
					content: "";
					position: absolute;
					top: -2px;
					right: -23px;
					width: 1px;
					height: 26px;
					background-color: #d7d8dd;
				}
			}
			@media screen and (max-width: 592px) {
				top: -3px;
				&:after{
					top: -3px;
					right: -19px;
				}
			}
		}
		.menu-toggle.opened{
			&:before{
				content: "" !important;
				position: absolute;
				top: -1px;
				right: -23px;
				width: 1px;
				height: 26px;
				background-color: #d7d8dd;
				@media screen and (max-width: 592px) {
					top: -6px;
					right: -21px;
				}
			}
			&:after{
				content: "\e646" !important;
				padding: 6px;
				border-radius: 50%;
				font-size: 0.8rem;
				position: relative;
				right: -4px;
				top: 0;
			}
			top: 0;
		}
		#site-navigation {
			user-select: none;
			@media screen and (max-width: 992px) {
				position: absolute;
				top: 82px;
				width: 100%;
				height: auto;
				left: 0;
				opacity: 0;
				visibility: hidden;
				z-index: -900;
				-webkit-transition: all .25s ease-in-out;
				-moz-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				transform: translateY(50px);
			}
			@media screen and (max-width: 592px) {top: 74px;}
		}
		.menu-toggle.opened~#site-navigation {
			z-index: 700;
			visibility: visible;
			opacity: 1;
			transform: translateY(0px);
		}
		#site-navigation{
			@media screen and (max-width: 992px) {
				.primary-navigation{
					background-color: #fff;
					ul li{
						margin: 0;
						display: block;
					}
					ul li a {
						font-weight: 500;
						margin-right: 10px;
						padding: 0.6rem 1rem;
						&:after{
							margin: 0 auto 0 1px;
							transition: width .45s ease-in-out;
						}
					}
				}
			}
		}
	}
	.site-search{
		display: inline-block;
		@media screen and (max-width: 992px) {margin: 0 0.6rem;}
		&:after{
			content: "";
			position: absolute;
			background-color: transparent;
			@media screen and (max-width: 992px) {
				width: 1px;
				height: 26px;
				top: 27px;
				right: 134px;
				background-color: #d7d8dd;
			}
			@media screen and (max-width: 768px) {
				right: 124px;
			}
			@media screen and (max-width: 592px) {
				top: 25px;
				right: 105px;
			}
			@media screen and (max-width: 440px) {right: 64px;}
		}
		.widget_product_search{
			@media screen and (max-width: 992px) {
				position: absolute;
				top: 78px;
				width: 100%;
				left: 0;
				height: auto;
				left: 0;
				opacity: 0;
				visibility: hidden;
				z-index: -900;
				border:1px solid rgba(0,0,0,.1);
				-webkit-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				-webkit-transform: translateY(50px);
				transform: translateY(50px);
			}
		}
		.search-icon{
			display: none;
			@media screen and (max-width: 992px) {display: block;}
			@media screen and (max-width: 592px) {
				margin-top: 4px;
			}
		}
		&.opened{
			margin-left: 2px;
			svg{display: none}
			.widget_product_search{
				z-index: 700;
				visibility: visible;
				opacity: 1;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
			.search-icon:before{
				font-family: themify!important;
				speak: none;
				font-style: normal;
				font-weight: 400;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				padding: 6px;
				border-radius: 50%;
				font-size: 0.8rem;
				position: relative;
				right: -4px;
				top: 0;
				content: "\e646" !important;
				background-color: #d7d8dd;
			}
		}
		form{
			margin: 0;
			padding: 0;
			.button, [type=button], [type=submit], button{
				display: none;
			}
			input[type="search"], input.search{
				border: 0px solid #000;
				padding-left: 38px;
				box-shadow: none !important;
				border-bottom: 1px solid rgba(#000, 0);
				border-radius: 0;
				&:focus, &:active{
					border-bottom: 1px solid #d7d8dd;
				}
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16"><path fill="#000" fill-opacity="0.65" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>');
				@media screen and (max-width: 992px) {
					padding: 38px 12px;
					padding-left: 38px;
					font-size: 1.2rem;
				}
			}
		}
	}
	a.wishlist_products_counter.top_wishlist-black {
		display: inline-block;
		@media screen and (max-width: 440px) {display: none}
		position: relative;
		vertical-align: -3px;
		@media screen and (max-width: 992px) {margin: 0 .6rem 0 .3rem;}
		&:before{
			content: "";
			position: absolute;
			background-color: transparent;
			@media screen and (max-width: 992px) {
				width: 1px;
				height: 26px;
				top: -4px;
				right: -23px;
				background-color: #d7d8dd;
			}
			@media screen and (max-width: 592px) {
				top: -4px;
				right: -17px;
			}
		}
		&:after{
			background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48h-48z%22%20fill%3D%22none%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M33%206c-3.48%200-6.82%201.62-9%204.17-2.18-2.55-5.52-4.17-9-4.17-6.17%200-11%204.83-11%2011%200%207.55%206.8%2013.72%2017.1%2023.07l2.9%202.63%202.9-2.63c10.3-9.35%2017.1-15.52%2017.1-23.07%200-6.17-4.83-11-11-11zm-8.79%2031.11l-.21.19-.21-.19c-9.51-8.63-15.79-14.33-15.79-20.11%200-3.99%203.01-7%207-7%203.08%200%206.08%201.99%207.13%204.72h3.73c1.06-2.73%204.06-4.72%207.14-4.72%203.99%200%207%203.01%207%207%200%205.78-6.28%2011.48-15.79%2020.11z%22/%3E%0A%3C/svg%3E);
			content: "";
			width: 20px;
			height: 20px;
			position: relative;
			display: block;
			opacity: .675;
		}
		.wishlist_products_counter_text{display: none}
		.wishlist_products_counter_number{
			line-height: 1.4;
			height: 20px;
			width: 20px;
			background-color: #c14953;
			color: #fff;
			border-radius: 50%;
			display: inline-block;
			text-align: center;
			padding: 2px 2px;
			font-size: .76rem;
			position: absolute;
			top: -11px;
			right: -16px;
			z-index: 1;
			&:empty{display: none}
			@media screen and (max-width: 592px) {
				height: 16px;
				width: 16px;
				top: -9px;
				right: -12px;
			}
		}
	}
	#site-header-carts{
		display: inline-block;
		margin: 0;
		padding: 0;
		margin: 0 0.9rem;
		margin-right: 0;
		p{
			margin: 0;
		}
		.count{
			line-height: 1.5;
			height: 20px;
			width: 20px;
			background-color: $primary;
			color: #fff;
			border-radius: 50%;
			display: inline-block;
			text-align: center;
			padding: 2px 2px;
			font-size: 0.76rem;
			position: relative;
			top: -12px;
			right: 14px;
			@media screen and (max-width: 592px) {    height: 16px; width: 16px;  }
			&.empty-cart{
				background-color: #d7d8dd;
				color: #7a7a7a;
			}
		}
	}

	#site-header-carts{
		a{
			position: relative;
			text-decoration: none;
		}
	}
	.cart-status.header-cart{
		position: absolute;
		background-color: #fff;
		width: 310px;
		right: 58px;
		top: 72px;
		padding-top:0.8rem;
		z-index: 9001;
		box-shadow: 0px 3px 25px 15px rgba(51, 51, 51, 0.08);
		opacity: 0;
		visibility: hidden;
		transform: translateY(40px);
		transition: all .2s ease-out;
		@media screen and (max-width: 992px) {
			right: 20px;
			top: 65px;
		}
		@media screen and (max-width: 768px) {
			right: 12px;
		}
		@media screen and (max-width: 592px) {
			right: 2px;
			top: 62px;
			width: 272px;
		}
		&.show-content {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
		}
		p.woocommerce-mini-cart__empty-message {
			margin: 0;
			padding: 0 0.8rem 1rem;
			text-align: center;
			font-size: .7rem;
			word-spacing: 1px;
		}
		.widget_shopping_cart_content:after {
			content: "";
			width: 20px;
			height: 20px;
			background-color: #ffffff;
			position: absolute;
			right: 31px;
			top: -9px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		ul.woocommerce-mini-cart.cart_list {
			margin: 0;
			max-height: 300px;
			overflow-y: auto;
			padding:0 0.2rem 5.5rem;
			li {
				list-style: none;
				text-align: left;
				margin: 6px;
				padding: 6px;
				border-bottom: 1px solid rgba(222, 222, 222, 0.46);
				position: relative;
				a{
					text-decoration: none;
					&:not(.remove){display: inline-block;width: 80px;}
				}
				a.remove{
					position: absolute;
					right: 6px;
					top: 8px;
					background-color: #c34c51;
					color: #fff;
					line-height: 1;
					padding: 0px 4px;
					border-radius: 50%;
					@media screen and (max-width: 592px) {
						padding: 1px 4px;
					}
				}
				.product-title,.amount{font-weight: 500}
				.product-title{
					display: inline-block;
					position: absolute;
					text-align: left;
					top: 29px;
					left: 92px;
					line-height: 1.0;
					height: 18px;
					overflow: hidden;
					width: 132px;
				}
				.quantity{
					margin: 0;
					font-size: .65rem;
					text-align: left;
					position: absolute;
					top: 44px;
					left: 92px;
					background-color: transparent;
				}
			}
		}
		.mini-cart-bottom{
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: #fff;
			box-shadow: 0 -10px 20px rgba(51, 51, 51, 0.05);
			border: 1px solid rgba(51, 51, 51, 0.09);
			border-bottom: 0;

			p.total{
				text-align: left;
				padding: 0.6rem;
				margin: 0;
				font-size: .75rem;
			}
			.goto-cart{
				font-size: .75rem;
				position: absolute;
				top: 11px;
				text-decoration: none;
				right: 9px;
				font-weight: 600;
				span{
					vertical-align: -1px;
					margin-left: 3px;
					transition: margin-left 0.2s ease-in-out;
				}
				&:hover span{
					margin-left: 12px;
				}
			}
			.wc-forward.button{
				width: 100%;
				padding: 1.35rem 0;
				border-radius: 0;
			}
		}
	}
}
