body>.site{
	background-color: #f7f8fc;
}
#content>.row>.container{
	@media screen and (max-width: 580px) {
		padding: 0 0.8rem;
	}
}
.backdrop-layer{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
body .active-sidebar.container{
	width: 100%; margin-bottom: 3rem;
	>.row{
		padding: 0 0.4rem;
	}
}
// whole page
.site-content{
	outline: none;
}
body .container.sidebar-0{
	max-width: 64rem;
}
body .container.sidebar-1{
	max-width: 100%;
	width: 100%
}

.woocommerce-info{ margin: 0 auto;   max-width: 64rem;}
ul.woocommerce-error{
	margin: 0 0 1.5rem;
	li{
		list-style: none;
	}
}
form.woocommerce-form-login.login, form.register{
	max-width: 36rem;
}
.woocommerce-breadcrumb.breadcrumbs~.woocommerce{
	max-width: 860px;
	margin: 1.8rem auto 0;
}
