
/**
* Single Product
*/
// Star font, FontAwesome doesn't work :(
@font-face {
	font-family: 'star';
	src: url('../../plugins/woocommerce/assets/fonts/star.eot');
	src: url('../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'),
	url('../../plugins/woocommerce/assets/fonts/star.woff') format('woff'),
	url('../../plugins/woocommerce/assets/fonts/star.ttf') format('truetype'),
	url('../../plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}





// top bar - breadcrumb+sharing 
.single-top-bar{
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 400;
	max-width: 1480px;
	margin: 0 auto;
	padding: 1rem 2rem;
	
	@media screen and (max-width: 1100px) {
		font-size: 10px;
		padding: 1rem;
	}
	.woocommerce-breadcrumb{
		color: #bdbdbd;
		a{
			color: #676767;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	.socialoptions{
		@media screen and (max-width: 440px) {
			display: none;
		}			
		>span{
			display: inline-block;
		}
		ul{
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			padding: 0
		}
		li, a{
			display: inline-block;
		}
		li{
			list-style: none;
			margin-left: 10px;
		}
		a{
			text-decoration: none;
			font-size: 16px;
			
			.ti-twitter{
				color: #1da1f2;
			}			
			.ti-facebook{
				color: #4266b2;
			}			
			.ti-email{
				color: #959595;
			}			
		}
	}
}









// main product wrapper
main>.product {
	img{flex-shrink: 0;}
	.image-desc-wrapper.short-section{
		background-color: #fff;
		box-shadow: 0 1px 1px 1px rgba(34, 35, 36, 0.10);
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
        flex-basis: 100%;
        max-width: 100%;
		
		@media screen and (max-width: 1100px) {
			display: block;
		} 
		@media screen and (max-width: 600px) {
			margin: 0 6px 6px;
            border: 1px solid #ccc;
            width: 95%;
		}
	} 
	
	
	// IMAGE GALLEY STYLES
	.flex-viewport a{
		cursor: -webkit-zoom-in;
		cursor: zoom-in;
	}
	.woocommerce-product-gallery{
        flex-basis: 40%;
        max-height: 740px;
		max-width: 600px;
		padding: 2rem 0;
		padding-left: 1rem;
		overflow: hidden;
		@media screen and (max-width: 1100px) {
			flex-basis: 100%;
			max-width: 100%;
			padding: 0;
        }
		.flex-control-nav{
			margin: 0 auto;
			max-width: 90%;
			overflow: hidden;
			text-align: center;
			padding: 2rem 0 0;
			position: relative;
			height: 4.4rem;
			z-index: 1;
			
			li{
				list-style: none;
				display: inline-block;
				margin-left: 4px;
				&:first-child{
					margin-left: 0;
				}
			}
			li img{
				max-width: 56px;
				border-radius: 4px;
				border: 2px solid #fff;
				cursor: pointer; 
				&.flex-active {
					border: 2px solid $primary;
				}
			}
		}
		.flex-direction-nav{
			position: absolute;
			bottom: 62px;
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			left: 0;
			@media screen and (max-width: 570px) {
				display: none;
			}			
			li{
				list-style: none;
				display: inline-block;
			}
			.flex-nav-prev,
			.flex-nav-next{
				font-family: 'themify' !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: relative;
				font-size: 16px;
				z-index: 2;
			}
			a{
				position: absolute;
				font-size: 1px;
				text-align: center;
				outline: none;
				color: #fff;
				&:before{
					border-radius: 50%;
					border: 2px solid #f3f3f3;
					content: "";
					position: absolute;
					width: 40px;
					height: 40px;
					left: -31px;
					top: -13px;
				}
			}
			.flex-nav-prev{
				left: 20px;
				&:before{
					content: "\e629";
				}
			}
			.flex-nav-next{
				left: -20px;
				&:before{
					content: "\e628";
				}
			}
			
		}
	}
	.woocommerce-product-gallery, .entry-summary{
		position: relative;
		overflow: hidden;
	}
	
	
	
	
	.entry-summary{ // sumarry short decription 
		flex-basis: 50%;
		padding: 2rem;
		
		@media screen and (max-width: 1100px) {
			flex-basis: 100%;
			max-width: 100%;
		}	
		
		.price{
			font-weight: 500;
			font-size: 1.2rem;
		}
		p{
			width: 100%; 
			max-width: 100%; 
		}
		.woocommerce-product-details__short-description *{
			font-weight: 400;
		}
		
		.posted_in, .tagged_as{
			display: block;
			font-weight: 500;
			a{font-weight: 300;}
		}
	}
	
	
	
	
	
	
	
	
	// Woo Tabs long decriptions and reviews
	.wc-tabs-wrapper{
        p, span, a, li{font-weight: 400;}
        flex-basis: 100%;
        max-width: 100%;
		@media screen and (min-width: 1020px) {
            flex-basis: 81%;
            max-width: 81%;
        }
		margin-top: 28px;
		@media screen and (max-width: 600px) {
			margin: 20px 6px 6px;    
			border: 1px solid #ccc;
        }
        .desc-footer{
            text-align: center;
            margin: 17px 0 -10px;
            vertical-align: bottom;
            span{
                font-size: 12px;
                display: inline-block;
                margin-left: 2px;
                vertical-align: middle;
            }
        }
	}
	
	ul.wc-tabs{
		box-shadow: 0 1px 1px 1px rgba(34, 35, 36, 0.06);
		background-color: #fff;
		padding: 8px 5px 0px;
		margin: 0;
		display: block;
		position: relative;
		text-align: center;
		
		li{
			list-style: none;
			display: inline-block;
		}
		a{
			padding: 18px 28px;
			margin-left: -3px;
			@media screen and (max-width: 520px){
				padding: 10px 8px;
				margin-left: 0px;
			}
			display: inline-block;
			position: relative;
			background-color: #fff;
			text-decoration: none;
			color: #222;
			border-bottom: 3px solid rgba(242, 101, 34, 0);
		}
		li.active{
			a{
				border-bottom: 3px solid $primary;
			}
		}
    }
    
    div.wc-tab {
        background-color: #fff;
        box-shadow: 0 1px 1px 1px rgba(34, 35, 36, 0.1);
        padding: 2rem 0;
    }
}







// description - styles
.wc-tabs-wrapper section{
	.img_wrapper{
		.aspectRatioPlaceholder{
            &.w-200{
                max-width: 310px;
            }
            &.w-300{
                max-width: 310px;
            }
            &.w-450{
                max-width: 310px;
            }
            &.w-600{
                max-width: 310px;
            }
		}
    }
    .row, .col-xs-12{
        position: relative;
        z-index: 2;
    }
    div.bg{
        position: absolute;
        overflow: hidden;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 1;
        box-sizing: border-box;
        @media only screen and (max-width: 768px){
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            min-height: 1px;
            position: static;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}












// specifications tabs styles
.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-specifications{display: none;}
h2.specs-titles {
    display: table;
    margin: 3rem auto 1rem;
    font-size: 18px;
    font-weight: 500 !important;
    @media screen and (min-width: 520px){
        font-size: 1.6rem;
    }
}
.specs-body-wrapper{
    p{display: none;}
    .group-wrapper{
        padding: 2rem;
        @media screen and (max-width:992px){
            padding: 1rem;
        }		
        @media screen and (max-width:768px){
            padding: 0 1rem;
        }
        h3{
            margin-bottom: 1.2em;
            text-transform: capitalize;
            font-weight: 600 !important;
            font-size: 1rem;
            color: $primary;
            span.heading-icon {
                padding: 4px 8px 0;
                display: inline-block;
                vertical-align: -1px;
                border: 1px solid grey;
                border-radius: 2px;
                margin-right: 8px;
                transition: all .2s ease-in-out;
            }
        }
    }
    dl{
        display: table;
        width: 100%;
        margin-top: 0;
        margin-bottom: 1em;
        padding-bottom: 1em;
        line-height: 1.5;
        font-size: 14px;
        >div{
            display: table-row;
            dd, dt{margin: 0; padding: 6px 0;text-indent: 0;}
            dt{
                display: table-cell;
                color: #888;
                font-weight: 500 !important;
                width: 40%;
                @media screen and (min-width: 520px){
                    width: 30%;
                }
            }
            dd{
                display: table-cell;
                font-weight: 400;
                padding: 0 1em;
            }
        }
    }
    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-xs-12:hover .heading-icon{
        background-color: $primary;
        color: white;
        border-color: $primary;
    }
}






















// RELATED PRODUCTS
.related.products{
    flex-basis: 100%;
    max-width: 100%;
    >h2{
        text-align: center;
        margin-top: 8rem;
        @media screen and (max-width: 600px) {
            margin-top: 3rem;
        }                  
        &:after{
            content: "";
            width: 20%;
            height: 3px;
            display: block;
            position: relative;
            background-color: $primary;
            margin: 1rem auto 3rem;
        }
    }
    @media screen and (min-width: 1020px) {
        margin-top: 28px;
        flex-basis: 19%;
        max-width: 19%;    
        padding-left: 12px;
        >h2{
            margin-top: 28px;
            background-color: #fff;
            box-shadow: 0 1px 1px 1px rgba(34, 35, 36, 0.1);
            text-align: center;
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
            padding: 10px 28px 11px;
            &:after{
                content: none;
            }
        }
        .row.products-list>li.product{
            flex-basis: 100% !important;
            max-width: 100% !important;
            .product-loop-link-wrapper {
                margin: 20px 18px 0;
            }
        }
    }
}
