
/**
 * Single Product
 */
// Star font, FontAwesome doesn't work :(
@font-face {
	font-family: 'star';
	src: url('../../plugins/woocommerce/assets/fonts/star.eot');
	src: url('../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'),
	url('../../plugins/woocommerce/assets/fonts/star.woff') format('woff'),
	url('../../plugins/woocommerce/assets/fonts/star.ttf') format('truetype'),
	url('../../plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}
.single-product {
	div.product {
		@include clearfix;
		position: relative;
		overflow: hidden;
		margin-top: 2rem;

		.product_title {
			margin-top: 0;
			margin-bottom: 0.4rem;
			font-weight: 400;
		}
		.product-images{
			background-color: #fff;
			padding: 2rem 1rem;
			position: relative;
			border-radius: 20px 0 0 20px;
			box-shadow: -3px 14px 20px 0px rgba(51, 51, 51, 0.2);
			@media only screen and (max-width: 992px){
				border-radius: 20px 20px 0 0;
			}
		}
		.woocommerce-product-gallery__wrapper{padding: 0}
		.woocommerce-product-gallery__image a{display: block;}
		.is-canvasLoaded.is-imageLoaded canvas.progressiveMedia-canvas {
			visibility: hidden;
		}
		.hot-product{
			color: #fff;
			border-radius: 16px;
			z-index: 101;
			position: absolute;
			text-transform: uppercase;
			padding: 0 5px;
			letter-spacing: 1px;
			font-weight: 400;
			text-align: center;
			font-size: 16px;
			height: 28px;
			line-height: 29px;
			min-width: 55px;
			top: 26px;
			left: 26px;
			right: auto;
			margin: 0;
			@media only screen and (max-width: 418px){
				height: 18px;
				line-height: 19px;
				min-width: 36px;
				font-size: 10px;
				top: 14px;
				left: 16px;
				right: auto;
			}
		}
		.hot-product{
			background-color: $primary;
		}

		.price{
			margin-bottom: 2.6rem;
			font-weight: 300;
			font-size: 1.3rem;
			color: #26bf80;
		}
		ins, del{
			text-decoration: none;
		}
		del{
			font-size: 0.85rem;
			display: block;
		}
		del .amount {
			color: #c2c2c2;
			font-weight: 300;
			position: relative;
		}
		del .amount:before {
			content: "";
			position: absolute;
			top: 49%;
			width: 106%;
			height: 1px;
			left: -2px;
			background-color: #dbdbdb
		}
		.woocommerce-product-details__short-description{
			ul, p{
				padding: 0;
				margin: 0;
			}
			p{
				margin: 0;
			}
		}
		.short-summary{
			box-shadow: 3px 14px 20px 1px rgba(51, 51, 51, 0.38);
			background-image: linear-gradient(to right top, #1f233a, #292f4c, #333b5e, #3d4871, #475585);
			color: #fff;
			padding: 3.5rem 3rem 3rem;
			border-radius: 0px 20px 20px 0px;
			@media only screen and (max-width: 992px){
				border-radius: 0 0 20px 20px;
			}
			@media only screen and (max-width: 440px){
				padding: 3rem 2rem 3rem;
			}
			@media only screen and (max-width: 590px){
				padding: 2rem 1rem 2rem;
			}
			.tinv-wraper.woocommerce{
				display: inline-block;
				float: right;
			}
			a.tinvwl_add_to_wishlist_button {
				@extend .button;
				@extend .button.round;
				margin: 0;
				margin-left: 18px;
				background-color: #e2e2e2;
				text-align: center;
				font-size: .8rem;
				color: #333;
				font-weight: 500;
				line-height: 1;
				display: inline-block;
				min-height: auto;
				padding: 13px 14px 13px 38px;
				position: relative;
				.tinvwl_add_to_wishlist-text{
					margin-left: 6px;
					vertical-align: 0px;
					line-height: 0;
				}
				&:before{
					background-image: url(./assets/img/hearts.png);
					height: 24px;
					width: 31px;
					margin-right: 0;
					margin-bottom: -6px;
					content: "";
					left: 8px;
					top: 10px;
					background-position: 0 26px;
					position: absolute;
				}
				&.tinvwl-product-in-list{
					padding: 13px 22px 13px 38px;
					&:before {
						background-position: 0px 52px;
					}
					span.tinvwl_add_to_wishlist-text:before {
						content: "Saved";
						position: absolute;
						top: 21px;
					}
				}
				&:hover{
					background-color: #cacaca;
					color: #333;
				}
			}
			.discount-off {
				background-color: rgba(224, 219, 201, 0.65);
				height: 36px;
				line-height: 37px;
				min-width: 36px;
				padding: 4px 1rem;
				margin: 0 0.7rem;
				text-align: center;
				font-size: 18px;
				vertical-align: 3px;
				position: relative;
				font-weight: 600;
				color: $white;
				&:before, &:after {
					content: "";
					position: absolute;
					top: 37%;
					width: 8px;
					height: 8px;
					border-radius: 50%;
				}
				&:before {
					left: -4px;
					background-color: #394268;
				}

				&:after {
					right: -4px;
					background-color: #384166;
				}
				@media only screen and (max-width: 418px){
					height: 36px;
					line-height: 37px;
					min-width: 36px;
				}
			}
		}
		form.cart {
			@include clearfix;
			padding: 1em 0 0;


		}
		.single_add_to_cart_button{
			font-size: 1rem;
			padding: 14px 26px;
			span{
				margin-right: 0.6rem;
				vertical-align: -2px;
			}
			&.position-fix{
				top: 12px;
				z-index: 1000;
				right: 2rem;
				font-size: 0.8rem;
				@media only screen and (max-width: 590px){
					top: 6px;
					z-index: 1000;
					right: 1rem;
				}
				@media only screen and (max-width: 390px){
					position: relative !important;
					top: 0;
					right:0;
					font-size: 1rem;
					padding: 0.3rem 2rem;

				}
			}
		}
		@media only screen and (max-width: 360px){
			.short-summary .tinv-wraper.woocommerce, .short-summary a.tinvwl_add_to_wishlist_button, .single_add_to_cart_button{
				display: block;
				margin: 0;
				margin-bottom: 12px;
				width: 100%;
				float: none;
			}
		}

		table.variations {
			margin: 0;

			th,
			td {
				display: list-item;
				padding: 0;
				list-style: none;
				background-color: transparent;
			}

			.value {
				margin-bottom: 1em;
			}
		}

		.single_variation {
			.price {
				margin-bottom: 1em;
				display: block;
			}
		}

		.variations_button {
			@include clearfix;
			padding-top: 1em;
		}

		.product_meta {
			font-size: 1rem;

			.sku_wrapper,
			.posted_in,
			.tagged_as {
				display: block;

				&:last-child {
					border-bottom: 0;
				}
			}

			a {
				@include underlinedLink();
			}
		}
	}
}
.woocommerce{
	.quantity {
		margin: 0.8rem 0 1.8rem;
		background-color: rgba(66, 73, 101, 0.08);
		.title{
			padding: 0 1rem 0 0;
			font-size: 0.8rem;
		}
		.subtract, .add{
			background-color: #414865;
			padding: 3px 8px;
			color: #fff;
			border-radius: 2px;
			vertical-align: middle;
			user-select: none;
			cursor: pointer;
		}
		.subtract{
			margin-right: 0.45rem;
		}
		.add{
			margin-left: 0.6rem;
		}
		input.qty {
			background-color: transparent;
			border: 0;
			color: #fff;
			display: inline-block;
			width: 18px;
			box-shadow: none;
			padding: 0;
			text-align: center;
		}
		input[type=number]::-webkit-outer-spin-button,
		input[type=number]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type=number] {
			-moz-appearance:textfield;
		}
	}
}
.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $success;
	}

	&.out-of-stock {
		color: $error;
	}
}

a.reset_variations {
	display: inline-block;
	margin-left: 1em;
}



p.stars{
	display: inline-block;
	margin: 0;
	a{
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;
		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: star;
			content: "\53";
			color: #43454b;
			text-indent: 0;
			opacity: .25
		}
	}

	a:hover~a:before {
		content: "\53";
		color: #43454b;
		opacity: .25
	}

	&:hover a:before {
		content: "\53";
		color: #fdba0d;
		opacity: 1
	}

	&.selected a.active:before {
		content: "\53";
		color: #fdba0d;
		opacity: 1
	}

	&.selected a.active~a:before {
		content: "\53";
		color: #43454b;
		opacity: .25
	}

	&.selected a:not(.active):before {
		content: "\53";
		color: #fdba0d;
		opacity: 1
	}
}

.woocommerce-review-link{display: none;}
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	float: right;
	font-family: star;
	font-weight: 400;
	width: 85px;
	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		color: #aeb6d8;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: #f3af00
	}
}
.entry-summary{
	.star-rating {
		width: 127px;
		margin-top: -1px;
		@media only screen and (max-width: 590px){
			width: 102px;
		}
		&:before {
			content: "\53\00a0\53\00a0\53\00a0\53\00a0\53";
			color: #aeb6d8;
		}
		span:before {
			content: "\53\00a0\53\00a0\53\00a0\53\00a0\53";
			color: #8c92aa;
		}
	}
}



.single-nav{
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.07);
	margin: -2rem auto 0;
	height: 76px;
	border-radius: 6px;
	position: relative;
	z-index: 900;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	@media only screen and (max-width: 590px){
		height: 60px;
	}
	.links{
		padding: 1.2rem 1rem 0;
		margin: 0;
		text-align: center;
	}
	&.position-fix{
		top: 40px;
		flex-basis: 100%;
		max-width: 100%;
		width: 100%;
		left: 0;
		right: 0;
		border-radius: 0;
		@media only screen and (max-width: 590px){
			top: 32px;
		}
		.links{
			padding: 1rem 1rem 1rem;
			@media only screen and (max-width: 690px){
				text-align: left;
			}
			@media only screen and (max-width: 390px){
				text-align: center;
			}
		}
	}
	li{
		list-style: none;
		position: relative;
		display: inline-block;
		a{
			text-decoration: none;
			margin: 0 10px;
			font-weight: 600;
			color: $black;
			&:hover{
				color: $link;
			}
		}
		&:after{
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #d2d2d2;
			right: -4px;
			top: 40%;
			position: absolute;
		}
		&:last-child:after{
			background-color: #fff;
		}
	}
}


#single-description{
	margin-top: 3rem;
}
#single-additional_information, #single-reviews{
	position: relative;
	margin: 3rem 0;
	padding: 0 0.8rem;
	>h2{
		max-width: 48rem;
		margin: 2rem auto 0.6rem;
		font-weight: 300;
	}
	table{
		max-width: 48rem;
		margin: 0 auto;
	}
	&:before{
		content: "";
		position: relative;
		width: 10%;
		height: 2px;
		background-color: #C14953;
		top: -30px;
		display: block;
		margin: 0 auto;
	}
}

#single-reviews{
	.woocommerce-Reviews-title{
		max-width: 48rem;
		margin: 1rem auto 1rem;
		font-weight: 300;
	}
}


.long_descrtiption{
	margin-top: 40px;
	background: #f7f8fc; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f8fc 0%, #ffffff 9%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f8fc 0%,#ffffff 9%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f8fc 0%,#ffffff 9%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8fc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



.woocommerce-message{
	a.button.product-added{
		line-height: 1.86rem;
		vertical-align: 2px;
	}
}



.related.products{
	.related-title{
		margin: 4rem 1rem 0rem;
	}
	>.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12{
		max-width: 68rem;
		margin: 0 auto;
	}
}
