
//breadcrumbs
nav.breadcrumbs{
	margin-bottom: 12px;
	@media screen and (max-width: 440px) {
		margin-top: 12px;
	}
	li:after{color: rgba(255, 255, 255, 0.5)}
	span, a{color: #fff}
	a:hover{
		color: #fff;
		text-decoration: underline;
	}
}
.breadcrumb-separator {display: none !important;}
// header
.woocommerce-products-header{
	display: block;
	margin-bottom: 2rem;
	background-image: linear-gradient(to right, #282f44, #5f3f67, #a4496b, #d76251, #e19623);
	color: #fff;
	padding: 3em 3em 0em;
	@media screen and (max-width: 592px) {
		padding: 2em 2em 0em;
	}
	@media screen and (max-width: 440px) {
		padding: 1em;
	}
}

// products sorting
.woocommerce-result-count{display: none;}
.woocommerce-products-header .storefront-sorting{
	display: inline-block;
	float: right;
	position: relative;
	bottom: 60px;

	@media screen and (max-width: 440px) {
		float: none;
		display: block;
		margin-top: 12px;
		bottom: 0px;
	}
	form{margin:0}
	select{
		background-color: transparent;
		color: #fff;
		border: 0;
		border-bottom: 1px solid #fff;
		width: 210px;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12"><path fill="#fff" d="M0.722,4.823L-0.01,4.1,4.134-.01,4.866,0.716Zm7.555,0L9.01,4.1,4.866-.01l-0.732.726ZM0.722,7.177L-0.01,7.9,4.134,12.01l0.732-.726Zm7.555,0L9.01,7.9,4.866,12.01l-0.732-.726Z"/></svg>');
		option{ color: #000;}
		&:focus{box-shadow: none}
		@media screen and (max-width: 440px) {
			margin-top: 12px;
			border: 1px solid;
			font-size: 13px;
			height: 32px;
			width: 183px;
		}
	}
}

.woocommerce-products-header .woocommerce-breadcrumb.breadcrumbs~.storefront-sorting{
	padding: 0;
	bottom: 60px;
	@media screen and (max-width: 440px) {
		bottom: 0px;
	}
}
.woocommerce-products-header .storefront-sorting {
	bottom: 26px;
	padding: 3rem 0px;
	@media screen and (max-width: 592px) {
		bottom: 42px;
		padding: 3rem 0px 1rem;
	}
	@media screen and (max-width: 440px) {
		padding: 1rem 0px 0rem;
		bottom: auto;
	}
}
.woocommerce .page-title{
	margin: 0;
	display: inline-block;
	@media screen and (max-width: 440px) {
		display: block;
	}
}
ul.products{
	margin: 0;
	li.product{
		position: relative;
		transition: all .35s ease-in-out;
		&:hover{
			transform: translateY(-12px);
		}
		.woocommerce-loop-product__link{
			background-color: #fff;
			text-decoration: none;
			color: $black;
		}

		.post-wrapper {
			margin: 20px 20px 0;
			@media screen and (max-width: 420px) {
				margin: 8px 4px 0;
			}
			&:hover{
				box-shadow: 0px 2px 30px 0px rgba(34, 34, 34, 0.08);
				.addtocart-wrapper{
					opacity: 1;
				}
				.tinv-wraper.tinv-wishlist a.tinvwl_add_to_wishlist_button{
					opacity: 1;
				}
			}
		}


		.aspectRatioPlaceholder-fill {
			display: block;
			padding-bottom: 100% !important;
		}
		.progressiveMedia {
			background-color: rgba(#000, 0);
			&.is-imageLoaded.is-canvasLoaded canvas {
				opacity: 0 !important;
			}
		}
		.product-meta {
			background-color: #fff;
			padding: 0.6rem 0.8rem 0.8rem;
			.star-rating{display: none}
		}
		.woocommerce-loop-product__title{
			font-weight: 600;
			color: $primary;
			margin: 0;
			font-size: 0.95rem;
			line-height: 1.2;
			max-height: 20px;
			overflow: hidden;
			@media screen and (max-width: 600px) {
				font-size: 1.195rem;
				max-height: 22px;
			}
			@media screen and (max-width: 510px) {
				font-size: 0.895rem;
				line-height: 1;
			}
			@media screen and (max-width: 450px) {
				max-height: 15px;
			}
		}
		.hot-product, .discount-off{
			color: #fff;
			border-radius: 16px;
			z-index: 101;
			position: absolute;
			height: 22px;
			line-height: 24px;
			min-width: 45px;
			text-transform: uppercase;
			padding: 0 5px;
			letter-spacing: 1px;
			font-weight: 400;
			text-align: center;
			font-size: 12px;
			top: 26px;
			left: 26px;
			right: auto;
			margin: 0;
			@media only screen and (max-width: 418px){
				height: 18px;
				line-height: 19px;
				min-width: 36px;
				font-size: 10px;
				top: 14px;
				left: 16px;
				right: auto;
				@media only screen and (max-width: 360px){
					height: 15px;
					line-height: 15px;
					min-width: 24px;
					font-size: 8px;
				}
			}
		}
		.hot-product{
			background-color: $primary;
		}
		.discount-off {
			background-color: #f5734a;
			border-radius: 50%;
			height: 36px;
			line-height: 37px;
			min-width: 36px;
			padding: 0 0 0 2px;
			text-align: center;
			@media only screen and (max-width: 418px){
				left: 14px;
				height: 28px;
				line-height: 29px;
				min-width: 28px;
			}
		}
		&.hot.sale .hot-product {
			top: 60px;
			@media only screen and (max-width: 418px){
				top: 44px
			}
		}
		&.hot.sale .discount-off {
			left: 30px;
			top: 23px;
			@media only screen and (max-width: 418px){
				left: 22px;
				top: 14px;
			}
			@media only screen and (max-width: 360px){
				left: 16px;
			}
		}
		.onsale{display: none}
		.price{
			font-weight: 500;
			margin-bottom: 0;
			font-size: 0.7rem;
			display: block;
			color: $color-text;
			@media screen and (max-width: 600px) {
				font-size: 0.895rem;
			}
			@media screen and (max-width: 510px) {
				font-size: 0.695rem;
			}
		}
		ins, del{
			text-decoration: none;
		}
		del{
			display: inline-block;  margin-right: 6px;
			@media screen and (max-width: 380px) {margin-right: 2px}
		}
		del .amount {
			color: #c2c2c2;
			font-weight: 300;
			position: relative;
		}
		del .amount:before {
			content: "";
			position: absolute;
			top: 49%;
			width: 106%;
			height: 1px;
			left: -2px;
			background-color: #dbdbdb
		}

		// addtocart
		.addtocart-wrapper {
			background-color: #fff;
			padding-bottom: 1rem;
			opacity: 0;
			text-align: center;
			-webkit-transition: all .25s ease-in;
			-moz-transition: all .25s ease-in;
			-ms-transition: all .25s ease-in;
			-o-transition: all .25s ease-in;
			transition: all .25s ease-in;
			@media only screen and (max-width: 520px){
				display: none
			}
			&:hover{
				opacity: 1;
			}

			.woo-button,.bg-dark{
				padding: 13px 9px;
				font-size: .8rem;
				&:hover{
					background-color: rgba(0,0,0,0.7) !important;
				}
				span{
					padding: 6px 10px;
					vertical-align: -3px;
					border-radius: 2px;
					margin-left: 8px;
					font-weight: 900;
					font-size: 0.9rem;
					position: relative;
				}
				&.added{
					background-color: #24a74c !important;
					position: relative;
					padding: 13px 9px 13px 26px;
					&:before{
						content: "Added to cart";
						left: 0;
						position: absolute;
						padding: 9px 10px;
						background-color: #25a64d;
					}
					.ti-plus:before {
						content: "\e64c";
					}
				}
			}
			.added_to_cart {
				display: none;
				// @extend .button;
				// @extend .button.outline;
				// color: $primary !important;
				// padding: 21px 16px;
				// font-weight: 500 !important;
				// &:hover{
				// 	background-color: rgba(0,0,0,0) !important;
				// 	color: $primary-light !important;
				// }
			}
		}






		// add to wishlist
		.tinv-wraper.tinv-wishlist {
			position: absolute;
			z-index: 121;
			right: 24px;
			top: 28px;
			width: 34px;
			@media only screen and (max-width: 418px){
				right: 12px;
				top: 11px;
				width: 22px;
			}
		}
		.tinv-wraper.tinv-wishlist .button {
			background-color: rgba(0,0,0,0);
			transition: opacity .2s ease-in-out;
			margin: 0;
			padding: 0;
			opacity: 0;
			@media only screen and (max-width: 768px){
				opacity: 0.2;
			}
		}
		.tinv-wraper.tinv-wishlist a.tinvwl_add_to_wishlist_button:hover {
			opacity: 1;
		}
		.tinv-wraper.tinv-wishlist .tinvwl-product-make-remove {opacity: 1 !important;}
		.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom img, a.wishlist_products_counter.top_wishlist-custom img {
			max-width: 18px !important;
			max-height: 18px !important;
		}
		.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart a.tinvwl_add_to_wishlist_button:before {
			background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48h-48z%22%20fill%3D%22none%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M33%206c-3.48%200-6.82%201.62-9%204.17-2.18-2.55-5.52-4.17-9-4.17-6.17%200-11%204.83-11%2011%200%207.55%206.8%2013.72%2017.1%2023.07l2.9%202.63%202.9-2.63c10.3-9.35%2017.1-15.52%2017.1-23.07%200-6.17-4.83-11-11-11zm-8.79%2031.11l-.21.19-.21-.19c-9.51-8.63-15.79-14.33-15.79-20.11%200-3.99%203.01-7%207-7%203.08%200%206.08%201.99%207.13%204.72h3.73c1.06-2.73%204.06-4.72%207.14-4.72%203.99%200%207%203.01%207%207%200%205.78-6.28%2011.48-15.79%2020.11z%22/%3E%0A%3C/svg%3E);
			background-size: cover;
			content: "";
			height: 32px;
			width: 32px;
			left: 0;
			margin: 0 !important;
			padding: 0;
			position: absolute;
			opacity: 0.65;
			top: -3px;
			@media only screen and (max-width: 520px){
				height: 24px;
				width: 24px;
				left: 9px;
			}
			@media only screen and (max-width: 408px){
				left: 2px;
				top: 0px;
			}
		}
		.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart a.tinvwl_add_to_wishlist_button.inited-add-wishlist:before{
			background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20128%20128%22%20enable-background%3D%22new%200%200%20128%20128%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23E52828%22%20d%3D%22M115.08%2C22.981c-10.794-10.794-28.279-10.794-39.053%2C0L64%2C35.008L51.974%2C22.981%20%20c-5.397-5.397-12.45-8.097-19.526-8.097c-7.055%2C0-14.131%2C2.7-19.528%2C8.097c-10.794%2C10.794-10.794%2C28.28%2C0%2C39.054L64%2C113.115%20%20l51.08-51.08c5.397-5.397%2C8.095-12.45%2C8.095-19.526C123.175%2C35.454%2C120.478%2C28.378%2C115.08%2C22.981z%22/%3E%0A%3C/svg%3E)
		}
	}
}
.products.row~.storefront-sorting {
	text-align: center;
	margin: 0 auto 3rem;
}
