.sidebar-wrapper{
    margin: 0 30px 0 16px;
    @media screen and (max-width: 520px) { 
        margin: 0 12px;
    } 
}

//title
.woof_container_inner>h4 {
    font-weight: 400;
    margin: 0;
    padding: 0.8rem 0;
    font-weight: 500;
    font-size: 1rem;
    .woof_front_toggle{
        text-decoration: none;
        font-family: 'themify';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        font-size: 12px;
        padding: 8px;
        &.woof_front_toggle_opened:before{
            content: "\e64b";
        }
        &.woof_front_toggle_closed:before{
            content: "\e648";
        }
    }
}
.product-categories{
    margin: 0;
    li{
        list-style: none;
        a{
            text-decoration: none;
            font-size: 0.88rem;
            font-weight: 400;
            &:hover{
                text-decoration: underline;
                color: $primary;
            }
        }
    }
}
.sidebar-wrapper>.woo-sidebar.widget:not(.widget-woof) {
    box-shadow: 0 1px 1px 1px rgba(34, 35, 36, 0.1);
    background-color: #fff;
    padding: 0 16px;
    margin-bottom: 10px;
    
    >.widget-title ,>.widget>.widget-title{
        font-size: 1.18rem;
        padding: 0.8rem 0;
        padding: 1rem 0;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
    }
    >.widget>.widget-title{
        padding-bottom: 0;
    }
}
.woof_submit_search_form_container{
    padding: 0 0 20px;
}
button.woof_submit_search_form{
	@include button($white, $primary);
    font-size: 14px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.woo-sidebar.widget.WOOF_Widget {
    font-size: 0.75rem;
    font-weight: 400;
}
.woof_container {
    border-bottom: 3px solid #fcfcfc;
    padding: 0 16px;
    margin: 0 -16px ;
    margin-bottom: 10px;
}
.woof_container ul{
    margin-bottom: 0 !important;
    li label{font-weight: 400;}
}

.woof_price3_search_container {
    padding-bottom: 2.4rem
}


// child cats arrow, labels
.woof_childs_list_opener {
    vertical-align: -4px;
    span {
        width: 14px;
        height: 12px;
    }
}
.woof_list label {
    font-size: 0.88rem;
    padding-bottom: 0px;
}


// price slider
span.irs-slider{
    &.from, &.to{
        cursor: pointer;
    } 
    
    &.to, &.from{
        &:after {
            content: "";
            background-color: #b2b2b2;
            position: relative;
            display: block;
            width: 8px;
            height: 8px;
            z-index: 1;
            top: 7px;
            left: 7px;
            border-radius: 50%;
        }
        &:hover {
            background-position: 0 -120px;
            &:after {
                background-color: $primary;
            }
        }
        &.state_hover{
            &:after {
                background-color: $primary;
            }
        }
    }
}
span.irs>.irs-from, span.irs>.irs-to, span.irs>.irs-single {
    font-weight: 400;
    background: #050402;
}
span.irs>.irs-line>.irs-line-right {
    height: 7px;
    background-position: 100% -22px;
    background-color: $primary;
    right: 0;
    top: 0px;
    width: 100%;
    border-radius: 12px;
}