.widgets-wrapper{
	background-color: #fff;
	margin-top: 1rem;
	padding: 0 0.8rem;
	.widget {
		.widget-search .search-submit {
			@include screen-reader-text();
		}
		.star-rating{display: none}
		.widget-title,
		.widgettitle {
			letter-spacing: 0;
			font-weight: 500;
			position: relative;
			font-size: 0.8rem;
			background-color: #fff;
			text-transform: uppercase;
			display: block;
			margin: 0 -.8rem;
			padding: 0.8rem 0.6rem;
			border-top: 8px solid #f7f8fc;
			margin-bottom: 1rem;
			box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.03)
		}

		ul {
			margin-left: 0;
			list-style: none;

			ul {
			}
		}
	}
	.widget {
		text-align: left;
		background-color: #fff;
		margin-bottom: 2.5rem;
		&:last-child{
			margin-bottom: 0;
		}
		h1.widget-title {
		}

		a:not(.button) {
			@include underlinedLink();
		}
	}
}
.widget-area .widget:first-child .widget-title {
	border-top: 0;
}


.widget_top_rated_products, .widget_products{
	li{
		margin-bottom: 2px;
		padding: 8px 0px 0;
		position: relative;
		a{
			text-decoration: none !important;
			display: block;
			position: relative;
			z-index: 4;
			&:hover{
				.product-title{
					text-decoration: underline !important;
				}
			}
		}
		img{
			width: 80px;
			display: inline-block;
		}
		.product-title{
			font-size: 0.8rem;
			color: $primary;
			font-weight: 500;
			vertical-align: 56px;
			padding: 6px 6px 0;
			max-height: 22px;
			max-width: 104px;
			overflow: hidden;
			display: inline-block;
		}
		>.amount{
			position: absolute;
			bottom: 40px;
			left: 90px;
			font-size: 0.7rem;
			font-weight: 400;
		}
		del, ins{
			bottom: 39px;
			font-size: 0.7rem;
			font-weight: 400;
			text-decoration: none;
		}
		del{
			display: none;
			// position: absolute;
			// left: 90px;
			// color: #c2c2c2;
			// text-decoration: line-through;
		}
		ins{
			position: absolute;
			left: 90px;
		}
		.discount-off{
			display: none;
		}
	}
}
.widget_categories, .widget_product_categories, .widget_nav_menu{
	li{
		margin-left: 12px;
		margin-bottom: 2px;
		padding: 0.18rem 0;
		color: #c0c0c0;
		&:last-child{
			margin-bottom: 0;
		}
	}
	a{
		text-decoration: none !important;
		color: $black;
		margin-right: 4px;
		&:hover{
			text-decoration: underline !important;
		}
	}
}


.widget_recent_entries {
	li{
		margin-bottom: 1rem;
		padding: 0 0.2rem;
		&:first-child{margin-top: 0.4rem;}
		&:last-child{
			margin-bottom: 0;
		}
	}
	a {
		display: block;
		text-decoration: none !important;
		color: $primary;
		font-weight: 600 !important;
		line-height: 1.3;
		font-size: 0.8rem;
		&:hover{
			text-decoration: underline !important;
		}
	}
	.post-date{
		color: #b4b4b4;
		font-size: 0.7rem;
	}
}




.widget_price_filter{
	.price_slider {
		margin-bottom: 1em
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em
	}
	.price_label{
		font-size: 0.7rem;
	}
	.price_slider_amount .button {
		float: left
	}

	.ui-slider {
		position: relative;
		text-align: left
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 0.7em;
		height: 0.7em;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		cursor: ew-resize;
		outline: 0;
		background: $primary-light;
		box-sizing: border-box;
		margin-top: -.25em;
		opacity: 1
	}

	.ui-slider .ui-slider-handle:last-child {
		margin-left: -0.6em
	}

	.ui-slider .ui-slider-handle.ui-state-active, .ui-slider .ui-slider-handle:hover {
		box-shadow: 0 0 0 .236em rgba(0,0,0,.1)
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-color: $primary;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em
	}

	.price_slider_wrapper .ui-widget-content {
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		background: rgba(0,0,0,.1)
	}

	.ui-slider-horizontal {
		height: .25em
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px
	}
}











.header-widget-region {
	@include clearfix;

	.widget {
		margin: 0;
		padding: 1em 0;
	}
}

.widget_search,
.widget_product_search {
	form {
		position: relative;
		margin: 0;

		input[type=text],
		input[type=search] {
			width: 100%;
		}

		input[type=submit] {
			@include screen-reader-text();
			top: 0;
			left: 0;
		}
	}
}

.widget_recent_entries,
.widget_top_rated_products,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_comments,
.widget_nav_menu,
.widget_links,
.widget_product_categories,
.widget_layered_nav,
.widget_layered_nav_filters {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}

		.children {
		}

		.children {
			margin-left: 0;
		}
	}
}

.widget-area,
.footer-widgets {
	#wp-calendar {
		th,
		td {
			padding: .236em;
			text-align: center;
		}
	}
}

.widget_recent_entries,
.widget_pages {
	ul {
		ul.children {
		}
	}
}

.widget_rating_filter {
	.wc-layered-nav-rating  {

		a {
			text-decoration: none !important;
		}

		.star-rating {
			display: inline-block;
			height: 1em;
			line-height: 1;
		}
	}
}

.blog, .single-post {
	.widgets-wrapper{
		border: 1px solid #f2f2f2;
		margin-top: 1rem;
		margin-bottom: 3rem;
		.widget{
			.widgettitle, .widget-title{
				border-top: 6px solid #f2f2f2;
			}
			&:first-child{
				.widgettitle, .widget-title{
					border-top: 0px solid #f2f2f2;
				}
			}
		}
	}
}
